* {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 127, 10);
    /* font-size: 150%; */
    background-color: darkblue; 
    }
  
  
    /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* The collapsible sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}









  /* img {
    border: 2mm ridge rgba(50, 220, 192, 0.6);
    border-radius: 7px;
  }
  
  table {
      border: 1mm solid darkblue;
      background-color: aliceblue;
  }
  th {
    border: 1mm solid purple; 
    background-color: aliceblue;
  
  }
  tr {
    border: 1mm solid darkgreen;
  }
  td {
    border: 1mm solid darkgreen;
  }
  #summary {
    color: rgb(224, 127, 10);
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    border: 3mm ridge rgba(50, 220, 192, 0.6);
    border-radius: 7px;
    }
  h3 {
    color: rgb(224, 127, 10);
    text-align: center;
    text-emphasis: bold;
  
  }
  /* introduction */
  
  
  
  
  h2 {
    color: rgb(224, 127, 10);
    text-align: center;
  }
  /* location information */
  
  .business {
    border: 4mm ridge rgb(224, 127, 10);
    color: rgb(224, 127, 10);
    margin: 20px;
    padding: 20px 20px 20px 20px;
    
  }
  
  #intro {
  font-size: 30px;
  text-shadow: 1px 1px 1px #000;
  padding-bottom: 10px;
  
  }
  .description {
    font-size:  24px;
    line-height: 22px;
    
  }
  ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 40px;
    line-height: 22px;
    /* height: 200px; */
  }
  .basicBullet {
    font-weight: bold;
  }
  #salmon {
    height: 270px;
    display: block;
    margin: 0px auto;
    padding: 10px;
  }
  #family {
    height: 200px;
    float: left;
  }
  #fish {
    width: 200px;
    float: right;
  }
  #cutter {
    height: 200px;
    float: left;
  }
  #frosted {
    height: 200px;
    float: right;
  }
  #chinook {
    height: 200px;
    display:block;
    margin:0px auto; 
  
  
    /* ERD info */
  
   /* #ERD {
      height: 200px;
      float: left;
  } */ */
   #shirtSell {
    float: right;
    display: block;
    height: 200px;
    width: 240px;
    padding-right: 100px;
    line-height: 22px;
  } */